{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/public/style.css">
{% endblock %}

<header>
    <nav>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Manage Products</a></li>
            <li><a href="/variants">Manage Variants</a></li>
            <li><a href="/images">Manage Images</a></li>
        </ul>
    </nav>
</header>